<ion-header class="ion-no-border">

  <ion-toolbar>
    <ng-container *ngIf="page === 'main'">
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
        <ion-button color="success" (click)="linkProfile()">
          <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
        </ion-button> 
      </ion-buttons>
    </ng-container>

    <ion-title>{{title}}</ion-title>
  </ion-toolbar>

</ion-header>