<!-- navBar title page sendRouter() ou backButton -->
<app-header title="bate papo" sendRouter="/auth/profile" page="main"></app-header>

<ion-content [fullscreen]="true" class="space-top">

  <ion-list class="space-top-10 list-profile">
    <div  *ngFor="let user of users$">
    
    <ion-item-sliding class="space-button-5"  *ngIf="user.uid !== userProfile.uid">
      <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" class="avatar" [ngClass]="user.ativo ? 'on' : 'off'" [src]="user.photoUrl" />
        </ion-avatar>
        <ion-label>{{user.nome}}</ion-label>
        <ion-buttons>
          <ion-button>
            <ion-icon slot="icon-only" [ngClass]="true ? 'onFavorit' : 'off'" name="heart"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-chip [color]="user.ativo?'success':'medium'">22</ion-chip>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="lock-closed-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </div>

  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="success">
      <ion-icon name="chatbubbles-outline" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>


<!-- <ion-tab-bar slot="bottom">
  <ion-tab-button tab="search">
    <ion-icon name="search" aria-hidden="true"></ion-icon>
    encontrar pessoas
  </ion-tab-button>
</ion-tab-bar> -->