<!-- navBar title sendRouter page -->
<app-header page="profile" [title]="'Perfil'" sendRouter="/main"></app-header>

<ion-content [fullscreen]="true">
  
      <!-- Foto Perfil -->
      <ion-avatar class="avatar center">
        <img *ngIf="user"  alt="Silhouette of a person's head" [src]="user.photoUrl" />
        <img *ngIf="!user" alt="Silhouette of a person's head" src="../../../../assets/avatar.svg" />
        <!-- <img  alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" /> -->
     
      </ion-avatar>
  

      <ion-list class="ion-padding list-profile">
        <ion-item>
          <ion-label><b>Nome: </b>{{user.nome}}</ion-label>
        </ion-item>
        <ion-item >
          <ion-label><b>Idade: </b> {{user.idade}}</ion-label>
        </ion-item>
        <ion-item >
          <ion-label><b>Sexo: </b> {{user.sexo}}</ion-label>
        </ion-item>
      </ion-list>

      <div class="center">
        <ion-button (click)="editProfile()">
        <!-- <ion-button (click)="getUserLS()"> -->
          <ion-icon slot="icon-only" name="add" ></ion-icon>
          Editar
        </ion-button>  
      </div>

</ion-content>

<!-- uid?: string,
nome?: string,
idade?: string,
sexo?: string,
photoUrl?: string,
email?: string,
ativo?: boolean
} -->